* {margin:0;  padding:0; box-sizing: border-box;-moz-box-sizing: border-box;}
ul, li {list-style:none;}
a {text-decoration:none;}
img {  vertical-align:center;}
body {
    background-color: #ffffff;
    font-size: 15px;
    color: #333333;
    -moz-box-sizing: border-box;
    font-family: '휴먼명조','궁서체','바탕체','굴림체', serif;
    letter-spacing: -0.2px;
}
    
.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 1cm 0;
  /* border: 5px #8bbdde solid; */
  height: 270mm;
  outline: 1cm #d9e8eb solid;
  width: 19cm;
}

@page {
  size: A4;
  margin: 0;
  }
  @media print {
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
}

/*공통*/
section {
	/* padding: 10px 0; */
}
.title h2 {
	text-align:center;
	font-size:25px;
}

.inlineL {
	display: inline-block;
	float: left;
}

.bbsolid { border-bottom: 1px solid #000;}

.blueD {color: #1e42be;}
.blue {color: #1e42be;display:block;width:100%;}

.ml10 {margin-left: 10px;}
.ml20 {margin-left: 20px;}

.pdt5 {padding-top: 5px}
.pdt10 {padding-top: 10px}
.pdt15 {padding-top: 15px}
.pdt20 {padding-top: 20px}
.pdt30 {padding-top: 30px}
.pdt40 {padding-top: 40px}
.pdt50 {padding-top: 50px}

.pdb30 {padding-bottom: 30px}
.pdb40 {padding-bottom: 40px}
.pdb50 {padding-bottom: 50px}
.pdl10 {padding-left: 10px}

.ht30 { height: 30px;}
.ht40 { height: 40px;}
.ht100 { height: 100px;}
.ht50 { height: 50px;}
.ht60 { height: 60px;}
.ht70 { height: 70px;}

.lh30 {line-height: 30px;}

.date {
	height: 30px;
	line-height: 30px;
}

.date li {
	display:inline-block;
	height:30px;
	float:left;
	text-align: center;
}

.date li.dateYMD {
	width: 40px;

}

.tleft {
	text-align:left;
	text-align: -webkit-left;
}

.tright {
	text-align: right;
	text-align: -webkit-right;
}

.tcenter {
	text-align: center;
	text-align: -webkit-center;
	width: 100%;
}

.stepdate {
	display: inline-block;
}

.stepdate li {
	float: left;
	background-color:yellow;
	height: 30px;
	line-height: 30px;
}

.stepdate li>span{
	display: block;
}


/*위ㆍ수탁계약해지확인서*/
#header {
    width: 100%;
    height: 104px;
    position: relative;
    top: 0;
}

#header span {
	position:absolute;
	width: 92px;
	height: 42px;
	margin-top: 30px;
}

#header .logoLeft {	left:0; }

#header .logoRight { right:0; }

#header ul {}

#header ul li { text-align:center;}

#header ul .titSmall {
    font-family: '궁서체';
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

#header ul .titCompany {
    font-family: '굴림체';
    font-size: 24px;
    font-weight: bold;
    color: #1e42be;
    margin-bottom: 15px;
}

#header ul .titName {
	font-family: '굴림체';
	font-size: 28px;
	padding-bottom: 5px;
	border-bottom: 2px solid #333333;
	font-weight: bold;
}

.confirm { 
	width:100%;
	padding-top: 20px;
}

.confirm p {
	line-height: 19px;
}

.confirm dl {}

.confirm dl dt {
	font-weight: bold;
}
.confirm dl dd {
	margin-left: 12px;
    line-height: 20px;
}

.confirmTable {
	width:100%;
	padding-top: 24px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: keep-all;
	font-size: 15px;
}

table td {
	border: 1px solid #000;
	text-align: center;
	padding: 3px 0px;
	border-color: #000;
	word-break: normal;
}

tr th {
	border: 0px solid red;
	padding: 3px 0px;
	word-break: normal;
	font-weight: normal;
}

table .gbgray {
	background-color: #eaeaea;
	height: 40px;
	font-weight: bold;
}

table .arrowbox dt,
table .arrowbox dd{
	display: inline-block;
	float: left;
	margin: 13px 0;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

table .arrowbox dt {
	border:1px solid #000;
	width: 107px;
}

table .arrowbox .arrow{
	margin: 0 5px;
	position: relative;
	width:  100%;
}

table .arrowbox .arrow:after {
	display:block;
	content :'―';
	position: absolute;
	top: -12px;
	left: -7px;
}

.table tr td p {
	line-height: 23px;
}

.table .line {
	position:relative;
}

.table .lineleft {
	position:absolute;
	top: 8px;
	left: 10px;
	width:1px;
	height: 34px;
	background: #333333;
}

.table .lineright {
	position:absolute;
	top: 8px;
	left: 112px;
	width:1px;
	height: 34px;
	background: #333333;
}

.table .grid4 {
	width: 100%;
}

.table .grid4 li {
	width: 25%;
	line-height: 30px;
	float: left;
}

.table .grid30 { width: 100%}

.table .grid30 dt {
	width: 26%;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: left;
}

.table .grid30 dd {
	width: 74%;
	height: 30px;
	line-height: 30px;
	float: left;
}

.table .grid50 {
	width:100%;
	position:relative;
	height: 75px;
}

.table .grid50 li {
	width:50%;
	float:left;
	padding-right: 40px;
	height:75px;
}

.table .grid50 li .dateDetail {
    height: 100%;
}

.table .grid50 li .dateDetail dt {
	float:left;
	width: 35%;
	text-align: left;
	height: 25px;
}

.table .grid50 li .dateDetail dd {
    float: left;
    width: 65%;
    text-align: left;
	height: 25px;
}

.table .grid50 li .stamp {
	position:absolute;
	top: 20px;
	right: 60px;
}

.table .inner {	
	margin:0 5px;
	text-align: left;
	padding: 5px;
	font-size: 13px;
}

.table .month {
	position:relative;
	top:0;
	line-height:25px;
}

.table .month .monthInner {
	position:absolute;
	top: -3px;
	right:0;
	width: 170px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

.table .month .monthInner02 {
	position:absolute;
	top: -20px;
	right: -5px;
	width: 170px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
}

.table .month .monthInner dd { 
	float:left;
	height:30px;
	line-height:30px;
}

.tableLine {
	font-family: '굴림';
}

.tableLine td { 
	border-left: none;	
	text-align: left;
	padding: 3px 5px;
}

.tableLine td:last-child {
	border-right: none;
}

.tableLine .tstyle {
	font-size: 13px;
	vertical-align: top;
}





/* 대․폐차 동의서 */
.agreement { 
	width:100%;
	font-family: '굴림';
}

.agreement h2 {
	text-align: center;
	font-size: 28px;		
	padding-bottom: 40px;
}

.agreement h3 {
	font-size: 20px;
}

.agreement .stepdate {
	display: inline-block;
}

.agreement .stepdate li { 
	float: left;
	margin: 0 5px;
}

.fontF {
	font-family: "굴림"
}

.gwangju_agreement {
	width:100%;
	font-family: '궁서';
	font-size: 18px;
}

.gwangju_agreement h2 {
	text-align: center;
	font-size: 35px;		
	padding-bottom: 40px;
}

.incheon {
	width:100%;
	font-family: '바탕체';
	font-size: 18px;	
}



/* ulsan Page 2 (대․폐차)수리동의서 */
.repair {
	width: 100%;
	padding: 40px 30px;
	font-family: "굴림";
}

.repair .repairTit {
	width: 100%;
	text-align: center;
}

.repair .repairTit h2 {
	border: 3px double #333333;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 30px;
}

.repair .company {
	width: 100%;
	height: 90px;
}

.repair .company dt {
	width: 20%;
	float: left;
	height: 30px;
}
.repair .company dd {
	width: 80%;
	float: left;
	height: 30px;
}

/* ulsan Page 3 신고서*/
.ulsanRepair {
	width: 100%;
	font-family: "굴림";
}

.ulsanRepair .half {
	width: 100%;
	padding:10px 0;
}

.ulsanRepair .half dt {
	float: left;
	width: 12%;
	line-height:22px;
}

.ulsanRepair .half dd {
	float: left;
	width: 87%;
	line-height:22px;
}

/* ulsan Page 4 통보서*/
.bgtable {
	width: 100%;
	display: inline-block;	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.bgtable li {
	float: left;
	border-right: 1px solid #000;
}

.bgtable li:last-child { 
	border-right : none;
}

.bgtable .bgtableInner {
	width: 100%;
	height: 100%;
	background-color: #ddd;
	line-height:30px;
	height: 30px;
}

.bgtable .bgtableInner dt {
	height:100%;
	float:left;
	margin-right:10px;
}

.bgtable .bgtableInner dd {width: 100%;}

.bgcenter {
	margin-top:10px;
	width: 100%;
	border-top:2px solid #000;
	background-color:#ddd;
	text-align: center;
	height:30px;
	line-height: 30px;
}

.bgleft {
	width: 100%;
	text-align: left;
	line-height: 20px;
	font-size: 13px;
	padding: 5px;
	border-bottom: 1px solid #000;
}

.lineTable{
	/* padding-top:30px; */
	border-bottom:1px solid #000;
	margin-bottom: 5px;
}

.lineTable th{
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	height: 40px;
	font-weight: normal;
}

.lineTable th:last-child,
.lineTable td:last-child{ 
	border-right: none;
}

.lineTable td{
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	height: 40px;
	font-weight: normal;
	text-align:center;
}

.lineTable td .none {
	margin: 0;
	font-size:13px;
	text-align: left;
}

/*팩스전문표지*/
.daegu {
	width: 100%;
	font-family: "굴림";
}